{% extends "base.html" %}
{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}">
{% endblock %}

{% block content %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  <a class="navbar-brand" href="#">The Daily Bugle</a>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#news">News</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="#weather">Weather</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="#comic">Comic</a>
      </li>
    </ul>
    <ul class="navbar-nav">
      {% if 'user' not in session %}
          <li class="nav-item active">
            <a class="nav-link" href="/login">Login</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/register">Register</a>
          </li>
      {% else %}
          <li class="nav-item active">
            <a class="nav-link"> Logged in as {{session['user']}} </a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/logout"> Sign Out</a>
          </li>
      {% endif %}
    </ul>
  </div>
</nav>

<br>
<br>
<br>

<div class="container center" id="news">
  <h1 class="display-4 fix">News</h1>
  <p> Newspaper stuff </p>

  {# <img src="{{newsData['results'][0]['multimedia'][3]['url']}}"> #}
  <br>
  {{newsData['results'][0]['abstract']}}
  <br>
  {{newsData['results'][0]['created_date']}}
  <!-- Newspaper info things will go in here -->
  <br>
  <!-- <button href="#test " class="btn btn-default" data-toggle="collapse">Toggle Bar</button> -->
  <div id="main">
    <div class="row">
      <div class="col-sm-4">
        <div class="list-group">
          <a href="#test" data-toggle="collapse" class="list-group-item list-group-item-action">Article</a>

          <a href="#test2" data-toggle="collapse" class="list-group-item list-group-item-action">Article</a>

          <a href="#test3" data-toggle="collapse" class="list-group-item list-group-item-action">Article</a>

          <a href="#test4" data-toggle="collapse" class="list-group-item list-group-item-action">Article</a>

          <a href="#test5" data-toggle="collapse" class="list-group-item list-group-item-action">Article</a>

          <a href="#test6" data-toggle="collapse" class="list-group-item list-group-item-action">Article</a>

          <a href="#test7" data-toggle="collapse" class="list-group-item list-group-item-action">Article</a>
        </div>
      </div>
      <div class="col-sm-8">

        <div id="test" class="list-group-item list-group-item-action flex-column align-items-start collapse" data-parent="#main">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">List group item heading</h5>
            <small>3 days ago</small>
          </div>
          <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
          <small>Donec id elit non mi porta.</small>
        </div>

        <div id="test2" class="list-group-item list-group-item-action flex-column align-items-start collapse" data-parent="#main">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">List group item heading</h5>
            <small>3 days ago</small>
          </div>
          <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
          <small>Donec id elit non mi porta.</small>
        </div>

        <div id="test3" class="list-group-item list-group-item-action flex-column align-items-start collapse" data-parent="#main">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">List group item heading</h5>
            <small>3 days ago</small>
          </div>
          <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
          <small>Donec id elit non mi porta.</small>
        </div>

        <div id="test4" class="list-group-item list-group-item-action flex-column align-items-start collapse" data-parent="#main">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">List group item heading</h5>
            <small>3 days ago</small>
          </div>
          <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
          <small>Donec id elit non mi porta.</small>
        </div>

        <div id="test5" class="list-group-item list-group-item-action flex-column align-items-start collapse" data-parent="#main">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">List group item heading</h5>
            <small>3 days ago</small>
          </div>
          <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
          <small>Donec id elit non mi porta.</small>
        </div>

        <div id="test6" class="list-group-item list-group-item-action flex-column align-items-start collapse" data-parent="#main">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">List group item heading</h5>
            <small>3 days ago</small>
          </div>
          <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
          <small>Donec id elit non mi porta.</small>
        </div>

        <div id="test7" class="list-group-item list-group-item-action flex-column align-items-start collapse" data-parent="#main">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">List group item heading</h5>
            <small>3 days ago</small>
          </div>
          <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
          <small>Donec id elit non mi porta.</small>
        </div>

      </div>
    </div>
  </div>
</div>

<div class="container center" id="weather">
  <h1 class="display-4 fix">Weather</h1>
  <p> Weather stuff </p>
  {{weatherData['daily']['summary']}}
  <!-- Weather info things will go in here -->
</div>

<div class="container center" id="comic">
  <h1 class="display-4 fix">Comic!</h1>
  <p> Comic stuff </p>
  <img src="{{comicData['img']}}">
  <!-- Comic info things will go in here -->
</div>
{% endblock %}
