{% extends "base.html" %}
{% block title %}
Home
{% endblock %}

{% block content %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">The Daily Bugle</a>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#news">News</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="#weather">Weather</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="#comic">Comic</a>
      </li>
    </ul>
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="/login">Login</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/register">Register</a>
      </li>
    </ul>
  </div>
</nav>

<div class="container">
  <div id="news">
    <h1 class="display-4">News</h1>
    <p> Newspaper stuff </p>
    <!-- Newspaper info things will go in here -->
  </div>
</div>

<div class="container">
  <div id="weather">
    <h1 class="display-4">Weather</h1>
    <p> Weather stuff </p>
    <!-- Weather info things will go in here -->
  </div>
</div>

<div class="container">
  <div id="comic">
    <h1 class="display-4">Comic!</h1>
    <p> Comic stuff </p>
    <!-- Comic info things will go in here -->
  </div>
</div>
{% endblock %}
