{% extends "base.html" %}

{% block content %}
<div class="jumbotron" style="margin:40px;">

  <h5 class="display-4"> Welcome to The Daily Bugle! </h5> <br>

<form action ="/auth" method="POST" >

  <div class="form-group">
    <label for="exampleUsername">Username</label>
    <input type= "text" class="form-control" name="username" placeholder="Username" required>
  </div>

  <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input type= "password" class="form-control" name="password" placeholder="Password" required>
  </div>

  <i>Don't have an account? Register <a href="http://127.0.0.1:5000/register">here</a>! </i> <br>
  <i>Forgot Password? Click <a href="http://127.0.0.1:5000/reset">here</a>! </i>
  <br><br>


  <button type="submit" class="btn btn-primary" value="Login">Submit</button>
</form>

</div>

<!--
<form action ="/auth" method="POST" >
Username: <input type= "text" name="username" required><br><br>
  Password: <input type= "password" name="password" required><br><br>
  <input type="submit" value="Login"></h4>
</form> -->
<br>
{% for msg in get_flashed_messages() %}
{{msg}} <br>
{% endfor %}
{% endblock %}
