<!DOCTYPE html>
<html>
<head>
    <title>Something's not right...</title>
    <style>
    .center {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 150px;
      height: 150px;
    }
    </style>
</head>
<body>
    <img class="center" src="https://www.freeiconspng.com/minicovers/error-icon-24.png">
    <h1 style="text-align:center;">
        {{ errCode }} : {{ errMessage }}
    </h1>
    <p style="text-align:center;">Check the API keys for any mistakes.</p>
</body>
