<!DOCTYPE html>
<html>
<head>
    <title>Something's not right...</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='error.css') }}">
</head>
<body>
    <!-- This page does not inherit from base as the navbar will also be inherited which we do not need on this page. -->
    <img class="center" src="https://www.freeiconspng.com/minicovers/error-icon-24.png">
    <h1 style="text-align:center;">
        {{ err }}
    </h1>
    <p style="text-align:center;">Perhaps check the API keys for any mistakes.</p>
</body>
