{% extends "base.html" %}
{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}">
{% endblock %}

{% block content %}
<br>
<br>
<br>
<br>

<div class="container d-flex justify-content-center">
  <div class="row" id="rowTop">
    <div class="col-md-6">
      <h2 class="font-weight-light">{{session['user']}}<h2>
      <p class="lead">Most recent article </p>
      <a href="{{data['news'][0]['link']}}" class="linkFix">{{data['news'][0]['title']}}</a>
    </div>
    <div class="col-md-6">
      <div class="card text-white bg-dark mb-3 center" id="weatherBox">
        <div class="card-header">{{session['location']}}</div>
        <div class="row">
          <div class="col-lg-6">
            <div class="center">
              <img class="card-img-top" id="weatherPreviewImage" src="http://www.transparentpng.com/thumb/weather-report/android-weather-icons-png-12.png" alt="Image missing">
            </div>
          </div>
          <div class="col-lg-6">
            <div class="card-body">
              <div id="weatherPreview">
                <h5 class="card-title collapse show" id="temperature">{{session['temp-f']}}</h5>
                <h5 class="card-title collapse" id="temperature">{{session['temp-c']}}</h5>
                <button type="button" class="btn btn-primary btn-sm" href="#temperature" data-toggle="collapse">Change Units</button>
              </div>
            </div>
          </div>
        </div>
        <p class="card-text" id="bottomCardText">{{data['weather-summary']}}</p>
      </div>
    </div>
  </div>
</div>

<br>

<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
  Launch demo modal
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Warning</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        If you continue using our services, you agree to give us access to your ip address.
      </div>
      <div class="modal-footer">
        <a href="http://127.0.0.1:5000/login">
          <button type="button" class="btn btn-secondary">Nope</button>
        </a>
        <button type="button" class="btn btn-primary" data-dismiss="modal">I agree</button>
      </div>
    </div>
  </div>
</div>

<div class="container center" id="news">
  <h1 class="display-4 fixJump">News</h1>
  <!-- Newspaper info things will go in here -->
  <br>
  <!-- <button href="#test " class="btn btn-default" data-toggle="collapse">Toggle Bar</button> -->
  <div id="main">
    <div class="row">
      <div class="col-sm-4">
        <div class="list-group">
          <!-- generate the a tags below using jinja and a for loop -->
          <!-- e.g. <a href="{{id}}" data-toggle="collapse"  class="list-group-item list-group-item-action">{{title}}</a> -->
          {% for article in data['news'] %}
          <a href="{{'#test' + article['id']|string}}" data-toggle="collapse" class="list-group-item list-group-item-action">{{article['title']}}</a>
          {% endfor %}
        </div>
      </div>
      <div class="col-sm-8">
        <!-- Generate items in the format below using jinja and the database-->
        {% for article in data['news'] %}
        {% if article['id'] == 0 %}
        <div id="{{'test' + article['id']|string}}" class="list-group-item list-group-item-action flex-column align-items-start collapse show " data-parent="#main">
          {% else %}
          <div id="{{'test' + article['id']|string}}" class="list-group-item list-group-item-action flex-column align-items-start collapse" data-parent="#main">
            {% endif %}
            <div class="d-flex w-100 justify-content-start">
              <a href="{{article['link']}}" class="linkFix"><h5 class="mb-1">{{article['title']}}</h5></a>
              <form action="/favorite" method="POST">
                  <button name="timeid" value="{{article['date']}},{{article['id']}}">
              </form>
            </div>
            <div class="d-flex w-100 justify-content-start">
              <small>{{article['date']}}</small>
            </div>
            <div class="d-flex w-100 justify-content-start">
              <p class="mb-1">{{article['abstract']}}</p>
            </div>
            <small>{{article['image-caption']}}</small>
            <img src="{{article['image-url']}}" class="img-fluid img-thumbnail" alt="Responsive image">
          </div>

          {% endfor %}

        </div>
      </div>
    </div>
  </div>

  <div class="container center" id="weather">
    <h1 class="display-4 fixJump">Weather</h1>
    <p> Weather stuff </p>
    {{data['weather-summary']}}
    <!-- Weather info things will go in here -->
  </div>

  <div class="container center" id="comic">
    <h1 class="display-4 fixJump">Comic!</h1>
    <p> Comic stuff </p>
    <img src="{{data['comic-image']}}" class="img-fluid img-thumbnail">
    <!-- Comic info things will go in here -->
  </div>
  {% endblock %}
