{% extends "base.html" %}
{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='auth.css') }}">
{% endblock %}

{% block content %}
<br>
<br>
<br>

<div class="jumbotron">

  <h5 class="display-4"> Welcome to The Daily Bugle! </h5>

  <form action ="/auth" method="POST" >

    <div class="form-group">
      <label for="exampleUsername">Username</label>
      <input type= "text" class="form-control" name="username" placeholder="Username" required>
    </div>

    <div class="form-group">
      <label for="exampleInputPassword1">Password</label>
      <input type= "password" class="form-control" name="password" placeholder="Password" required>
    </div>

    <i>Don't have an account? Register <a href="http://127.0.0.1:5000/register">here</a>! </i> <br>
    <i>Forgot Password? Click <a href="http://127.0.0.1:5000/reset">here</a>! </i>
    <br><br>


    <button type="submit" class="btn btn-primary" value="Login">Submit</button> <br> <br>
    {% for msg in get_flashed_messages() %}
    <div class="alert alert-warning" role="alert">
    {{msg}}
    </div>
    {% endfor %}

  </form>

</div>

<br>

{% endblock %}
